.miniHeaderContainer {
  background-image: url("../../assets/HeaderImg/header1.png");
  height: 40vh;
  width: 100%;
  padding-top: 3rem;
}

.homepage--text--container--header {
  font-size: 2.3rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 60%;
  text-align: center;
  line-height: 1.2;
}
.explore--more {
  color: #ff5722;
}
.event--desc--title {
  margin-left: 5%;
  text-align: left;
  padding-top: 3rem;
  max-width: 45%;
  line-height: 1.2;
  color:white;
}
.event--desc--details{
    margin-left: 5%;
    text-align: left; 
    padding-top: 2rem; 
    max-width: 45%;
    color:white;

}

.event--desc--goBackButton {
  margin-left: 5%;
  text-align: left;
  padding-top: 0rem;
  color: white;
}
 

@media screen and (max-width: 345px){

    .event--desc--title {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        padding-top: 3rem;
        max-width: 100%;
        line-height: 1.2;
        color: white;
      }
}.event--desc--goBackButton{
    display: none;
}