@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Open+Sans:wght@300;400&display=swap");

::-webkit-calendar-picker-indicator {
  height: 50px;
  width: 300px;
  z-index: 2000;
  position: absolute;
  top: 30;
  opacity: 0;
}
