.primary {
    background-color:#FF5722 ; 
    color: white; 
    padding: 10px 20px;
    border: none; 
    border-radius: 3px ;
     } 
.secondary {
    background-color: #D9D1CE;
    color: white; 
    padding: 10px 20px;
    border-radius: 5px; 
    border: none; 
    }