.primary {
    background-color:#FF5722 ; 
    color: white; 
    padding: 10px 20px;
    border: none; 
    border-radius: 3px ;
     } 
.secondary {
    background-color: rgba(29, 34, 34, 0.088);
    color: #252D42;
    padding: 10px 20px;
    border-radius: 5px; 
    border: none; 
    }
.warning{
    background-color: #FFF;
    color: #252D42; 
    padding: 10px 20px;
    border-radius: 5px; 
    border: none; 
}
