* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .MainWrapper {
    width: 100%;
  }
  .resetPasswordContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: #E5E5E5; */  max-width: 100%;
    /* background-color: blue; */}
  .formPage {
    justify-content: center;
    width: 100%;
    /* align-items: center; */}
  .resetPasswordImage {
    width: 50%;
  }
  .resetPasswordForm {
    display: flex;
    flex-direction: column;
    width: 50%;
    text-align: left;
  }
  .title {
    margin-left: 70px;
    font-size: 30px;
    font-weight: 900;
    margin-bottom: 70px;
  }
  .input1 {
    display: block;
    width: 70%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-left: 70px;
    margin-bottom: 30px;
  }
  .input2 {
    display: block;
    width: 70%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-left: 70px;
    margin-bottom: 30px;
  }
  Button {
    margin-left: 70px;
  }
  @media screen and (max-width: 1024px) {
    .resetPasswordContainer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      margin-top: 6em;
      overflow-y: hidden;
    }
    .resetPasswordForm {
      width: 100%;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: left;
    }
    .title {
      margin-left: 195px;
      font-size: 30px;
      font-weight: 900;
    }
    Button {
      margin-left: 0;
      /* margin-bottom: 10px; */  }
    .input1 {
      display: block;
      display: flex;
      margin-left: 0;
      /* align-items: center;justify-content: center; */    width: 50%;
    }
    .input2 {
      display: block;
      display: flex;
      margin-left: 0;
      /* align-items: center;justify-content: center; */    width: 50%;
    }
    .resetPasswordImage {
      width: 100%;
      margin-bottom: 20px;
    }
    .formPage {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }