

  .forgotPasswordContainer{
    display: flex;
    margin-top: 80px;
    padding: 0;
   
  }
  
  .formWrapper{
    display: flex;
    justify-content: center;
    width: 50%;
    align-items: center;
    
  }
  
  .formContainer{
    display: flex; 
    width: 45rem;
    height: 40rem;
    flex-direction: column;
   
  }
  
  
  .RPTitle{
    margin-bottom: 3rem;
  }
  .RPTitle h1{
    font-size: 3rem;
    font-weight: 800;
    color:black;
  }
  .RPinputContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height:20rem;
    
  }
  
  .RPformInput{
    padding: 10px ;
    

  
  }
  .RPBtn{
    padding:10px 0; 
    margin:0;
    border-radius: 0;
    background-color: #FF5722;
    color: white; 
  }
  
  .RPImageContainer{
    width: 50%;
  }
  .passwordimage{
    width:100%;
  }
  @media screen and (max-width:1028px){
   .forgotPasswordContainer{
      flex-direction: column;
      justify-content: center;
    }
  
  .RPImageContainer{
    width: 100%;
  }
  .formWrapper{
    justify-content: center;
    width: 100%;
    align-items: center;
    
  }
  .formContainer{
    width:50%;
    padding: 0 10px ;
  }
  
  }
  @media screen and (max-width:600px){
    .formContainer{
      width:100%;
      padding: 0 10px ;
    }
  }