.homepage--container {
    background-image: url("../../assets/HeaderImg/header1.png");
    height: 40vh;
    width: 100%;
    padding-top: 3rem;
    color: white;
  }
  
  .homepage--text--container--header {
    margin-top: 82px;
    font-size: 3rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 60%;
    text-align: center;
    line-height: 1.2;
  }
  .explore--more {
    color: #ff5722;
  }